<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4>Deja un comentario</h4>
    <p>Puedes dejar una opinion desde este apartado!</p>

    <form>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control shadow-effect" placeholder="Ingresa tu nombre aqui">
      </div>

      <div class="form-group mt-3 mb-3">
        <label>Expresa tu opinión!</label>
        <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="Escribe tu comentario aqui !"></textarea>
      </div>

      <button class="btn btn-success btn-theme">Agregar comentario</button>

    </form>
  </div>
</div>
