<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3"> Comments(132) </h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0"> Pedro antrax</h6>
      <small class="text-danger">Last updated - Marzo, 2022</small>
      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident reprehenderit enim sequi molestiae. Sint illum dignissimos quisquam error distinctio eum vero accusantium. Numquam deleniti tenetur, hic error consectetur dolore odio?
      </div>

      <a href="#" class="mt-1"> Reply </a>
      <a href="#" class="mt-1 ml-3">      View reply</a>

      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0"> Rodrigo gamboa</h6>
      <small class="text-danger">Last updated - Marzo, 2022</small>
      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident reprehenderit enim sequi molestiae. Sint illum dignissimos quisquam error distinctio eum vero accusantium. Numquam deleniti tenetur, hic error consectetur dolore odio?
      </div>

      <a href="#" class="mt-1"> Reply </a>
      <a href="#" class="mt-1 ml-3">      View reply</a>

      <hr>
    </div>


    <div class="comment-box mt-3">
      <h6 class="mb-0"> Carlos Rosales</h6>
      <small class="text-danger">Last updated - Marzo, 2022</small>
      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident reprehenderit enim sequi molestiae. Sint illum dignissimos quisquam error distinctio eum vero accusantium. Numquam deleniti tenetur, hic error consectetur dolore odio?
      </div>

      <a href="#" class="mt-1"> Reply </a>
      <a href="#" class="mt-1 ml-3">      View reply</a>

      <hr>
    </div>



  </div>
</div>
