<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center"> About us </h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, impedit! Natus enim harum delectus, impedit deleniti perferendis! Quidem architecto, id minus laudantium ad incidunt nesciunt odio aspernatur optio fugiat ipsa!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas itaque dolor voluptatum temporibus distinctio minus expedita maiores eligendi, exercitationem facilis, nisi autem sint culpa inventore ducimus sed, id velit sit!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore repellat pariatur, cum debitis, magnam ut voluptates ullam recusandae, nulla quaerat mollitia iste autem dolorum! Quas voluptate ullam tempora enim laboriosam?</p>

      <div class="text-center">
        <button class="btn btn-success btn-sm mt-4 btn-theme">Regresar</button>
      </div>




    </div>
  </div>
</section>
